body {
    background-color: aquamarine;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: 10, 10px;
    margin: 20px
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.water {
    background-color: blue;
}

.hit {
    background-color: red;
}

.miss {
    background-color: yellow;
}

.ship {
    background-color: green;
}