@font-face {
    font-family: "Inconsolata";
    src: url("../assets/fonts/Inconsolata-Regular.ttf");
}

:root {
    --water: #70A1D7;
    --hit: #F47C7C;
    --miss: #F7F48B;
    --ship: #A1DE93;
    --background: #fffaf3;
    --text: #575279;
}

body {
    background-color: var(--background);
}

#header {
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
    font-size: 6rem;
    height: 30vh;
}

#board_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: 10, 50px;
    margin: 20px
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid var(--text);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.water {
    background-color: var(--water);
}

.hit {
    background-color: var(--hit);
}

.miss {
    background-color: var(--miss);
}

.ship {
    background-color: var(--ship);
}